# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/

# Plugins - ignore these specific plugins


# Ignore everything in the "themes" directory except production themes
wp-content/themes/*
!wp-content/themes/monte52/
!wp-content/themes/index.php

# Theme specific dev directories to ignore
wp-content/themes/monte52/.sass-cache/
wp-content/themes/monte52/node_modules/
wp-content/themes/monte52/npm-debug.log
wp-content/themes/monte52/.DS_Store